h1 {
    color: rgb(126, 96, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    background-color: white;

}

h2 {
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    
}

p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 200;
    color: rgb(0, 0, 0);
    background-color: white;

}

img {
    width: 750px;
    text-align: center;
    border: 10px solid rgb(133, 98, 4);
    border-radius: 55px;
}

body {
    background-image: url('https://i.pinimg.com/736x/15/50/35/155035ae8d22f0b9e52def383550969c.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: 100% 120%;
    text-align: center;
    background-color: white;


}

a:hover{ 
    text-decoration: underline;
    color: rgb(0, 0, 0); 
    background-color: white;   
}